/* Add font imports using Google Fonts or your own hosted fonts */
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');


/* CSS classes for each font using the .font-[FontName] convention */
.font-Imperial {
    font-family: "Imperial Script", serif;
    font-weight: 500;
    font-style: normal;
  }

  .font-Italianno {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .font-Italianno > p {
    font-size: 50px;
  }
  
  .font-Sacramento {
    font-family: "Sacramento", serif;
    font-weight: 400;
    font-style: normal;
  }

  
  .font-Amiri {
    font-family: "Amiri", serif;
  font-weight: 400;
  font-style: normal;
  }

.font-Tangerine {
    font-family: 'Tangerine', cursive;
    font-weight: 400;
    font-style: normal;
  }

  .font-Tangerine > p {
    font-family: 'Tangerine', cursive;
  }

  .font-Tangerine > h1 {
    font-family: 'Tangerine', cursive;
    font-size: 50px !important;
  }
  
  .font-CinzelDecorative {
    font-family: 'Cinzel Decorative', cursive;

  }

  .font-CinzelDecorative > p {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 40px;
  }


  
  .font-GreatVibes {
    font-family: 'Great Vibes', cursive;
  }
  
  .font-MarckScript {
    font-family: 'Marck Script', cursive;
  }
  
  .font-LibreCaslonText {
    font-family: 'Libre Caslon Text', serif;
  }
  
  .font-KaushanScript {
    font-family: 'Kaushan Script', cursive;
  }
  .font-KaushanScript > p {
    font-family: 'Kaushan Script', cursive;
    font-size: 35px;
  }
  
 

.fontType-1 {
    font-size: 72px !important;
    font-family: 'Tangerine', cursive !important;
}


.fontType-2 {
    font-size: 45px !important;
    font-family: 'Cinzel Decorative', cursive !important;
}

.fontType-3 {
    font-size: 30px !important;
    font-family: 'Great Vibes', cursive !important;
}

.fontType-4 {
    font-size: 25px !important;
    font-family: 'Marck Script', cursive !important;
}

.fontType-5 {
    font-size: 30px !important;
    font-family: 'Libre Caslon Text', serif !important;
}

.fontType-6 {
    font-size: 30px !important;
    font-family: 'Kaushan Script', cursive !important;
}

.fontType-7 {
    font-size: 30px !important;
    font-family: 'La-Graziela', cursive !important;
}

.fontType-8 {
    font-size: 30px !important;
    font-family: 'Julietta Messie', sans-serif !important;
}

.fontType-1.duo {
    font-size: 57px !important;
    font-family: 'Tangerine', cursive !important;
}

.fontType-2.duo {
    font-size: 30px !important;
    font-family: 'Cinzel Decorative', cursive !important;
}

.fontType-3.duo {
    font-size: 45px !important;
    font-family: 'Great Vibes', cursive !important;
}

.fontType-4.duo {
    font-size: 49px !important;
    font-family: 'Marck Script', cursive !important;
}

.fontType-5.duo {
    font-size: 32px !important;
    font-family: 'Libre Caslon Text', serif !important;
}

.fontType-6.duo {
    font-size: 45px !important;
    font-family: 'Kaushan Script', cursive !important;
}

.fontType-7.duo {
    font-size: 70px !important;
    font-family: 'La-Graziela', cursive !important;
}

.fontType-8.duo {
    font-size: 55px !important;
    font-family: 'Julietta Messie', sans-serif !important;
}

.fontType-1.duo > span {
    line-height: 1.5;
    font-size: 42px !important;
    font-family: 'Tangerine', cursive !important;
}

.fontType-2.duo > span {
    line-height: 1.5;
    font-size: 18px !important;
    font-family: 'Cinzel Decorative', cursive !important;
}

.fontType-3.duo > span {
    line-height: 1.5;
    font-size: 30px !important;
    font-family: 'Great Vibes', cursive !important;
}

.fontType-4.duo > span {
    line-height: 1.5;
    font-size: 34px !important;
    font-family: 'Marck Script', cursive !important;
}

.fontType-5.duo > span {
    line-height: 1.5;
    font-size: 20px !important;
    font-family: 'Libre Caslon Text', serif !important;
}

.fontType-6.duo > span {
    line-height: 1.5;
    font-size: 30px !important;
    font-family: 'Kaushan Script', cursive !important;
}

.fontType-7.duo > span {
    line-height: 1.5;
    font-size: 55px !important;
    font-family: 'La-Graziela', cursive !important;
}

.fontType-7.duo > span {
    line-height: 1.5;
    font-size: 30px !important;
    font-family: 'Julietta Messie', sans-serif !important;
}

#text_font, #text_font > option {
    font-size: 18px !important;
}

  